<div ng-class="{'template-container':hideTitle}">
        <div class="allergies-display-contorl-overflow">
            <div class="block hierarchy dashboard-section">
                      <table class="patient dashboard-table">
                        <td class="name">{{ 'TREATMENT_START_DATE' | translate }}</td>
                        <td class="value">{{::treatmentStartDate | bahmniDate}}
                            
                        </td>
                    </table>               
            </div>
        </div>
    </div>